<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
     <div class="container">
        <h1>Register</h1>
        <% if ( alerts.length > 0) { %>
            <% alerts.forEach(function(alert) {  %> 
                <h6> <%= alert.message  %> </h6>
            <% }) %> 
        <% } %>
        <form method = "POST">
            <h4>Name</h4>
            <input type="text", name="name" required>

            <h4>Email</h4>
            <input type="text", name="email" required>

            <h4>Password</h4>
            <input type="password", name="password" min="8" required>

            <h4>Confirm Password</h4>
            <input type="password", name="password2" min="8" required>

            <br>
            <input type="submit">
        </form>
    </div>
</body>
</html>

